.example-spacer {
    flex: 1 1 auto;
  }

  p{
    margin: 0;
    padding: 16px 0;
    background-color: aquamarine;
  }

  .titulo-menu{
    padding-left: 15px;
  }

  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-drawer{
    background-color: rgb(87 210 168);
    width: 80%;
    padding-left: 15px;
  }