<h2>Bem vindo, perfil: {{texto}}</h2>
<div class="container">
    <div class="menu" *ngIf="role == 2" routerLink="/matricula">Matricula</div>
    <div class="menu" *ngIf="role == 2" routerLink="/matricula/listar">Lista de Matriculados</div>
    <div class="menu" *ngIf="role == 2" routerLink="/matricula/historico-pagamento">Historico pagamentos</div>

    <div class="menu" *ngIf="role == 2">Registro Pagamento</div>
    <div class="menu" *ngIf="role == 2">Função Adm</div>
    <div class="menu" *ngIf="role == 3">Função Pais</div>
    <div class="menu" *ngIf="role == 3">Função Pais</div>
    <div class="menu" *ngIf="role == 1">Função Super</div>
</div>